body {
    margin: 20px 20px 20px 20px;
}

button {
    background-color: blue;
    color: white;
    border-color: aqua;
}

input[type=text] {
    width: 100%;
}

#kosten {
    font-weight: 1000;
}

select {
    width: 100%;
}