body {
    margin: 20px 20px 20px 20px;
}

.leftside {
    display: inline;
    width: 70%;
    position: relative;
    float: left;
}
.rightside {
    width: 30%;
    display: inline;
    position: relative;
    float: right;
}

.labelabstand{
 margin-top: 30px;
}

input[type=text] {
    width: 300px;
}

#kosten {
    font-weight: 1000;
}